.sign-btnStyle-phone-page {
 cursor: pointer;
 width: 320px;
 height: 55px;
 color: #FFFFFF;
 background-color: #4A9B57;
 border-radius: 10px;
 border-width: 0;
 margin: 170px 0 8px 0;
}

.whiteText {
 font-size: 16px;
 color: #FFFFFF;
}
