#lock {
    position: absolute;
    left: 10%;
    top: 66%;
    font-size: 1.5em;
    width: 20px;
}

.step3-password {
    position: relative;
    height: 50px;
    margin-top: 60px;
}

.step3-registration-btn {
    cursor: pointer;
    width: 320px;
    height: 55px;
    color: #FFFFFF;
    background-color: #4A9B57;
    border-radius: 10px;
    border-width: 0;
    margin: 35px 8px 0 0;
}
