.all-goods-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10%;
  height: 100%;
}
.product-card-container {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  justify-content: center;
}
.admin-product-card {
  height: 300px;
  width: 180px;
  background: white;
  border-radius: 5px;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.card-content {
  z-index: 10;
  position: absolute;
  top: 10%;
  left: auto;
  right: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  min-width: 50%;
  max-width: 80%;
  .card-title,
  .card-price {
    text-align: center;
    margin: 5px;
    font-size: 1rem;
  }
}
.goods-img {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: 5px;
}
.btn-block {
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 5px 5px;
}
