.new-product-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.MuiContainer-root.new-product-container {
  width: auto;
}

.new-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-product-container .css-e53awj-MuiStack-root {
  display: flex;
  justify-content: center;
}
